python-telegram-bot==21.9
langchain==0.2.15
langchain-community==0.2.13
langchain-openai==0.1.22
google-api-python-client==2.134.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
pypdf==4.3.1
